<% @items.each do |item| %>
  <table>
    <tr>
      <th>Item Name</th>
      <th>Purchase Price</th>
      <th>Sell Price</th>
    </tr>
    <tr>
      <td><%= item[0] %></td>
      <td><%= item[1] %></td>
      <td><%= item[2] %></td>
      <td>
        <form method="get" action="/update/<%= item[3] %>">
          <button type="submit">Update</button>
        </form>
      </td>
      <td>
        <form method="post" action="/delete/<%= item[3] %>">
          <button type="submit">Delete</button>
        </form>
      </td>
    </tr>
  </table>
<% end %>